@{
    Layout = null;
}
<link href="~/Script/layui/css/layui.css" rel="stylesheet" />
<script src="~/Script/layui/layui.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link href="~/Script/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item ">

                        <a class="" href="javascript:;">我的好友</a>
                        <dl class="layui-nav-child" id="FriendList"></dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
                <ul class="layui-tab-title" id="title">
                    <li class="layui-this" lay-id="11">网站设置</li>
                    <li lay-id="22">用户管理</li>
                    <li lay-id="33">权限分配</li>
                </ul>
                <div class="layui-tab-content" id="body">
                    <div class="layui-tab-item">内容1</div>
                    <div class="layui-tab-item">内容2</div>
                    <div class="layui-tab-item layui-show">内容3</div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="~/Script/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
            $ = layui.jquery;
            var wsUri = "ws:" + "//127.0.0.1:5001/ws/" ;
            console.info(wsUri)
            var socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
            };
            socket.onclose = function (e) {
                console.log("socket closed", e);
            };
            //function to recieve from server.
            socket.onmessage = function (e) {
                console.log("Message:" + e.data);
                //$('#msgs').append(e.data + '<br />');
            };
            socket.onerror = function (e) {
                console.error(e.data);
            };
            //加载好友列表
            $.ajax({
                url: 'http://127.0.0.1:5001/api/Main/GetFriendList',
                type: 'get',
                xhrFields: { withCredentials: true },
                datatype: 'json',
                success: function (data) {
                    console.info(data)
                    $.each(data.data, function (i, e) {
                        $("#FriendList").append('<dd><a onClick="openPlane(this)" name="' + e.userName + '" id="' + e.userCode + '" href="javascript:;">' + e.userName + '</a></dd>')
                    })

                }
            })
        });
        function openPlane(obj) {
            var id = $(obj).attr("id");
            var name = $(obj).attr("name");
            console.info($("List_" + id).length)
            if ($("[lay-id='List_" + id+"']").length>0) {
                    $("#title li").removeClass("layui-this")
                    $("#body div").removeClass("layui-show")
                    $(this).addClass("layui-this");
                    $("#div_" + name).addClass("layui-show")
                } else {
                    $("#title li").removeClass("layui-this")
                    $("#body div").removeClass("layui-show")
                    $("#title").append('<li class="layui-this user" lay-id="List_' + id + '">' + name + '</li>')
                    $("#body").append('<div class="layui-tab-item layui-show plane" id="div_' + name + '"></div>')
                }
         

        }
      
    </script>
</body>
</html>
