
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseTable</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        layui.use(['form', 'table'], function () {
            var table = layui.table;
            var $ = layui.jquery;
            var BillNo = $("#BillNo").val();
            var SearchStr = $("#SearchStr").val();
            $.ajax({
                url: 'http://127.0.0.1:5001/api/Contor/BaseTable',
                type: 'get',
                data: { BillNo: BillNo, SearchStr: SearchStr },
                xhrFields: { withCredentials: true },
                datatype: 'json',
                success: function (data) {
                    console.info(data)
                    if (!data.isShow) {
                        $("#ss").css("display", "none");
                    }
                    var cols = [];
                    $.each(data.data.table, function (i, e) {
                        if (e.filedType != "Hide") {
                            if (e.fiedx == "Left") {

                                cols[i] = { field: e.remask, title: e.filedName, fixed: 'left', width: e.colLength, align: 'center' }
                            } else if (e.filedType == "Date") {

                                cols[i] = {
                                    field: e.remask, title: e.filedName, align: 'center', width: e.colLength, templet: function (d) {
                                        return layui.util.toDateString(d[e.bindList],'yyyy-MM-dd')
                                    }
                                }
                            }
                            else {
                                cols[i] = { field: e.remask, title: e.filedName, width: e.colLength, align: 'center' }
                            }
                        } else {
                            cols[i] = { field: e.remask, title: e.filedName, width: e.colLength, align: 'center', hide: true }
                        }
                    })
                    cols[cols.length] = { field: 'billID', title: '操作', toolbar: '#barDemo', width: 200, fixed: 'right', align: 'center' }
                    console.info(cols)
                    table.render({
                        elem: '#tab'
                        , height: 500
                        , page: true //开启分页
                        , cols: [cols]
                        , data: data.data.table1
                    })
                }
            })

            $("#AddEmployee").click(function () {
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '创建新表'
                    , area: ['400px', '600px']
                    , shade: 0
                    , maxmin: true
                    , content: '/Base/BaseFrom?BillNo=' + BillNo
                })
            })
            $("#Search").click(function () {
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '筛选'
                    , area: ['500px', '600px']
                    , shade: 0
                    , maxmin: true
                    , content: '/Base/BaseSearch?BillNo=' + BillNo
                })
            })
            table.on('tool(tab)', function (obj) {
                var data = obj.data;
                var BillNo = $("#BillNo").val();
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: "http://127.0.0.1:5001/api/Contor/BaseTableDel",
                            data: { BillNo: BillNo, BillID: data.billID },
                            type: 'post',
                            xhrFields: { withCredentials: true },
                            success: function (data) {
                                console.info(data)
                                if (data.isSuccess == true) {
                                    obj.del();
                                    layer.close(index);
                                }
                            }
                        })
                    });
                } else if (obj.event === 'edit') {
                    var BillNo = $("#BillNo").val();
                    layer.open({
                        type: 2 //此处以iframe举例
                        , title: '新建'
                        , area: ['400px', '600px']
                        , shade: 0
                        , maxmin: true
                        , content: '/Base/BaseFrom/?BillNo=' + BillNo + '&BillID=' + data.billID
                    })
                }
            })
        })
    </script>
</head>
<body>
    <input type="hidden" id="BillNo" value="@ViewData["BillNo"]" />
    <input type="hidden" id="SearchStr" value="@ViewData["SearchStr"]" />
    <div>
        <button class="layui-btn layui-btn-sm" id="AddEmployee" lay-event="">新增</button>
        <button class="layui-btn layui-btn-sm" id="Search" lay-event="">筛选</button>
    </div>
    <table id="tab" lay-filter="tab"></table>
    <div id="barDemo" style="display:none">
            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a id="ss" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </div>
</body>
</html>
